.m-pubg {
  width: 100%;
}
.m-pubg__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 63px;
  padding-bottom: 63px;
  box-sizing: border-box;
  gap: 47px;
}
@media screen and (max-width: 768px) {
  .m-pubg__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.m-pubg__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.m-pubg__nav-btn {
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.m-pubg__nav-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(24, 3, 210, 0.4),
    transparent
  );
  transition: all 650ms;
}
.m-pubg__nav-btn:hover:before {
  left: 100%;
}
.m-pubg__nav-btn.active {
  background: rgba(24, 3, 210, 0.4);
  color: #ffffff;
  pointer-events: none;
}
.m-pubg__nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}
.m-pubg__line {
  height: 1px;
  background-color: rgb(4, 4, 239);
  width: 80%;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  .m-pubg__line {
    display: none;
  }
}
.m-pubg__subscribe {
  color: rgb(4, 4, 239);
  background: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  border: 1px solid rgb(4, 4, 239);
  padding: 0 2px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .m-pubg__subscribe {
    display: none;
  }
}
.m-pubg__subscribe:hover {
  color: #000000;
  border: 1px solid #000000;
}
.m-pubg__inner {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, auto));
  gap: 10px;
}
@media screen and (max-width: 1280px) {
  .m-pubg__inner {
    grid-template-columns: repeat(3, minmax(auto, auto));
  }
}
@media screen and (max-width: 768px) {
  .m-pubg__inner {
    grid-template-columns: repeat(2, minmax(auto, auto));
  }
}
@media screen and (max-width: 600px) {
  .m-pubg__inner {
    grid-template-columns: 330px;
    margin: 0 auto;
  }
}
.m-pubg__item {
  display: flex;
  flex-direction: column;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.m-pubg__image {
  height: 314px;
}
.m-pubg__price {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}
.m-pubg__price-us {
  font-size: 14px;
  color: #333;
  font-weight: 700;
}
.m-pubg__price-rub {
  font-weight: 700;
  font-size: 20px;
  color: #f27a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.m-pubg__price-through {
  text-decoration: line-through;
  color: #333;
}
.m-pubg__price-btn {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #f27a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #f27a1a;
  transition: all 0.3s ease-in-out;
}
.m-pubg__price-btn:hover {
  background: #f27a1a;
  color: #ffffff;
}
