.m-pubg {
  width: 100%;
}
.m-pubg__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 63px;
  padding-bottom: 63px;
  box-sizing: border-box;
  gap: 47px;
}
@media screen and (max-width: 768px) {
  .m-pubg__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-btn {
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.nav-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #ffce00;
  transition: all 650ms;
}
.nav-btn:hover:before {
  left: 100%;
}
.nav-btn.active {
  background: #ffce00;
  /* color: #ffffff; */
  pointer-events: none;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .nav-items {
    margin: 0 auto;
  }
}

.m-pubg__inner {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, auto));
  gap: 10px;
}
@media screen and (max-width: 1280px) {
  .m-pubg__inner {
    grid-template-columns: repeat(3, minmax(auto, auto));
  }
}
@media screen and (max-width: 768px) {
  .m-pubg__inner {
    grid-template-columns: repeat(2, minmax(auto, auto));
  }
}
@media screen and (max-width: 600px) {
  .m-pubg__inner {
    grid-template-columns: 330px;
    margin: 0 auto;
  }
}
.card {
  position: relative;
  height: 380px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffce00;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "CORSAIR";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 5px;
}
.price span {
  text-decoration: line-through;
  margin-left: 10px;
  color: #ffce00;
}
.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 210px;
  width: auto;
  border-radius: 20px;
  border: 2px solid #ffce00;
}
